body,
.page__content,
.page__title,
.site-header,
.site-footer,
a,
p,
li,
h1, h2, h3, h4, h5, h6 {
  color: white !important;
  background-color: #121212 !important;
}

body {
  font-size: 14px !important;
}

.page__content {
  font-size: 1rem !important;
}

.page__title {
  font-size: 1.5rem !important;
}
